button{
    background: rgb(1, 29, 51);
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.table th {
  text-align: center;
}

.table {
  border-radius: 5px;
  width: 50%;
  margin: 0px auto;
  float: none;
}
